@media (max-width: 450px){
    .form-header{
        font-size: 1.6rem;
    }

    .create-product-label{
        font-size: 1.1rem;
    }

    .create-product-inputs{
        height: 1rem;
        font-size: 1rem;
    }

    .form-submit-btn{
        padding: 0.3rem;
    }
}