.create-product-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-helper{
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    width: 70%;
}

.form-header{
    text-align: center;
    margin-bottom: 1.5rem;
}

.create-product-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fieldWrapper{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.5rem;
}

.form-btn-container{
    display: flex;
    justify-content: center;
}

.form-submit-btn{
    border: 1px solid black;
    width: 7rem;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.1rem;
    transition: all 0.5s;
    cursor: pointer;
}

.form-submit-btn:hover{
    background-color: black;
    color: white;
}

.create-product-label{
    font-size: 1.3rem;
}

.create-product-inputs{
    height: 2rem;
    padding: 0.5rem;
    font-size: 1.2rem;
}

.create-product-slides{
    font-size: 1rem;
}

.form-product-suggestions{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    padding: 1rem;
    transition: all 0.3s;
}

.input-hidden{
    position: absolute;
    opacity: 0;
    transform: translateY(-13rem);
}

.product-li-item{
    margin: 1rem 2rem;
    padding: 1rem;
    cursor: pointer;
}

.product-li-item:hover{
    background-color: #999;
}

.product-li-item:last-child{
    margin-bottom: 0;
} 

