<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.webp' %}" />
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'users/users.css' %}">
    <link rel="stylesheet" href="{% static 'products/products.css' %}">
    <link rel="stylesheet" href="{% static 'products/product_queries.css' %}">
    <script defer src="{% static 'products/products.js' %}"></script>

    <title>The all in one store</title>
</head>
<body>

    {% block nav %}
        
    {% endblock %}

    {% block forms %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>