{% extends 'base.html' %}
{% block forms %}
<div class="create-product-form-container">
    <div class="form-helper">
        <h1 class="form-header">Add product image</h1>
        <form method="post" enctype="multipart/form-data" class="create-product-form" autocomplete="off">
            {% csrf_token %}
            <div class="fieldWrapper">
                {{ form.product.errors }}
                <label for="{{ form.product.id_for_label }}" class="create-product-label">Product:</label>
                {{ form.product }}
                <div class="form-product-suggestions input-hidden">
                    <ul class="form-suggestion-list"></ul>
                </div>
                
            </div>
            <div class="fieldWrapper">
                {{ form.image.errors }}
                <label for="{{ form.image.id_for_label }}" class="create-product-label">Image</label>
                {{ form.image }}
            </div>
            <div class="form-btn-container">
                <input type="submit" value="Submit" class="form-submit-btn">
            </div>
        </form>
    </div>
</div>
{% endblock %}